.root {
	height: calc(100vh - 75px);
	@apply flex relative;
}

/* Figure */
.heroFigure {
	@apply absolute w-full h-full flex items-end overflow-hidden;
	line-height: 0;

	/* &:before {
		content: '';
		@apply absolute top-14 -left-36 w-[700px] h-[700px] rounded-full opacity-80 bg-gradient-to-tr from-salomonFuschia-500;
	} */
}

.circle {
	@apply w-[50%] h-auto absolute top-[12%] left-[-12%];
}

.heroImgWrapper {
	@apply relative flex justify-end items-end left-[-8%] w-[28%] h-full;
}
.heroImg {
	/* @apply min-w-0 min-h-0 !important; */
}

/* Heading */
.glassCard {
}
.heroHeading {
}
