.root {
	height: calc(100vh - 75px);
	@apply flex flex-col relative;
}

/* Figure */
.heroFigure {
	@apply absolute w-full h-full flex items-end overflow-hidden z-[-1];
	line-height: 0;

	/* &:before {
		content: '';
		@apply absolute top-14 -left-36 w-[700px] h-[700px] rounded-full opacity-80 bg-gradient-to-tr from-salomonFuschia-500;
	} */
}

.circle {
	@apply w-[50%] h-auto absolute top-[12%] left-[-12%];
}

.heroImgWrapper {
	/* @apply relative flex justify-start items-end left-[-8%] w-[28%] 2xl:w-[100%] h-full; */
	@apply relative left-[-8%] max-h-full lg:w-[32%] xl:w-[30%] 2xl:w-[40%];
}

/* .heroImg {
	@apply max-h-full  relative left-[-8%] z-0;
} */

/* Heading */
.heroHeading {
	@apply flex justify-center items-end h-[26vh];
}
.heroHeadingCard {
	@apply px-10 py-5 font-black rounded-2xl -mb-10 2xl:-mb-8 border border-white border-solid;
	background: rgba(255, 255, 255, 0.4);
	/* box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1); */
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);

	& h3 {
		@apply text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl uppercase;
	}
	& h1 {
		@apply text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl uppercase text-salomonCyan;
	}
	& h5 {
		@apply text-base;
	}
}

/* Content */
.heroContent {
	@apply flex flex-nowrap w-full;
	& h4 {
		@apply text-xl;
	}
}
.heroContentWrapper {
	@apply w-[60%] ml-auto;
}

/* Skills */
.skills {
	@apply mb-3 2xl:mb-0;
}
.skillsIcons {
	@apply flex my-2 ml-[-5px] items-center;
	& li {
		@apply mr-4;
	}
}

/* Last Video */
.lastVideo {
	/* @apply -mt-6; */
}
.lastVideoImg {
	@apply rounded-3xl w-[220px];
}

/* Projects */
.projects {
	& img {
		@apply mb-5;
	}
}
