.root {
}
.headerWrapper {
	@apply flex flex-nowrap justify-between items-center py-3;
}

/* Logo */
.logo {
	@apply w-11 md:w-12;
}

/* navbar */
.navbar {
	@apply hidden md:flex items-center justify-center;
	& li {
		@apply mx-2;
	}
}

.link {
	@apply px-4 py-2 font-semibold block;
	&.active {
		@apply bg-salomonFuschia-600 text-white rounded-full;
	}
}

/* Toolbar */
.toolbar {
	@apply flex items-center justify-center;
	& li {
		@apply mx-2;
	}
}
.socialLink {
	@apply block;
	& svg {
		@apply h-5 md:h-6 w-auto !important;
	}
	&.youtubeIcon {
		@apply hidden md:block;
	}
}

/* Menu Button */
.menuButton {
	/* @apply block md:hidden; */
}
